doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="styles/styles.css" type="text/css" rel="stylesheet")
    title Weather
  body
    section.first-part
      section.temperature-city
        div.temperature 30 °C
        div.city Angouleme
    section.second-part
    script(type="text/javascript" src="scripts/index.js")