doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="styles/styles.css" type="text/css" rel="stylesheet")
    title Weather
  body
    section.first-part
      section.sun-container
        div.sun
        svg(width="0" height="0")
          filter(id="filter")
            feTurbulence(type="fractalNoise" result="myTurbulence" baseFrequency=".2" numOctaves="5" seed="2")
            feComposite(operator="in" in="myTurbulence" in2="SourceAlpha" result="myComposite")
            feColorMatrix(in="myComposite" type="matrix" values="0   0   0   1   1 0   0   0   .25   0 0   0   0   0   0 0   0   0   100  0")
      section.temperature-city
        div.temperature-city__text.ff--BGL
          div.temperature-container
          div.city Angouleme
          div.weather Ensoleillé
    section.second-part
      section#informations
        section.day-temperatures#js-day-temperatures.d-none
          section.day-temperatures__text#js-day-temperatures__text
          section#js-day-temperatures__temperatures
          section.day-temperatures__hours#js-hours
        section.week.ff--JSR#js-week
      section.day-week
        section.switch-container.separations
          section.switch-subcontainer#js-switch-subcontainer
            div.switch.switch-lpart
            div.switch.switch-rpart
        section.day-week__text
          span.day-week__text__words DAY
          span  /
          span.day-week__text__words.text-white  WEEK


      //- div.div--grayscale
        svg(width="0" height="0")
          filter(id="filter--grayscale")
            feTurbulence(type="fractalNoise" result="myTurbulence2" baseFrequency=".2" numOctaves="5" seed="2")
        svg
          filter(id="filter--grayscale")
            feTurbulence(type="fractalNoise" result="myTurbulence2" baseFrequency=".2" numOctaves="5" seed="2")
      //- div.cloud#cloud-back
      //- div.cloud#cloud-mid
      //- div.cloud#cloud-front
      //- <svg width="0" height="0">
      //-   <filter id="filter-back">
      //-     <feTurbulence type="fractalNoise" baseFrequency="0.012" numOctaves="4"/>
      //-     <feDisplacementMap  in="SourceGraphic" scale="170" />
      //-   </filter>
      //-   <filter id="filter-mid">
      //-     <feTurbulence type="fractalNoise" baseFrequency="0.012" numOctaves="4"/>
      //-     <feDisplacementMap  in="SourceGraphic" scale="150" />
      //-   </filter>
      //-   <filter id="filter-front">
      //-     <feTurbulence type="fractalNoise" baseFrequency="0.012" numOctaves="4"/>
      //-     <feDisplacementMap  in="SourceGraphic" scale="100" />
      //-   </filter>
      //- </svg>


    //- section.second-part
    //- section
    //-   div.cloud-square
    //-   <svg width="0" height="0">
    //-     <filter id="filter">
    //-       <feTurbulence type="fractalNoise" baseFrequency=".01" numOctaves="10" />
    //-       <feDisplacementMap in="SourceGraphic" scale="90" />
    //-     </filter>
    //-   </svg>
    //- section
    //-   div.cloud-circle
    //-     <svg width="0" height="0">
    //-       <filter id="filter">
    //-         <feTurbulence type="fractalNoise" baseFrequency=".01" numOctaves="10" />
    //-         <feDisplacementMap in="SourceGraphic" scale="180" />
    //-       </filter>
    //-     </svg>


    script(type="text/javascript" src="scripts/index.js")


    //-  <svg width="0" height="0">
    //-     <defs>
    //-       <filter id="filter">
    //-         <feTurbulence type="fractalNoise" result="myTurbulence" baseFrequency=".1" numOctaves="10" seed="10" />
    //-         <feComposite operator="in" in="myTurbulence" in2="SourceAlpha" result="myComposite"/>
    //-         <feColorMatrix in="myComposite" type="matrix"
    //-           values="1   0   0   1   2
    //-                   0   0   0   .3   0
    //-                   0   0   0   0   0
    //-                   0   0   0   100  0" />
    //-       </filter>
    //-     </defs>
    //- </svg>
    //- <div  class="filtered">
    //-   <p>Some Text</p>
    //-   <svg>
    //-     <rect x="10" y="10" width="300" height="100" />
    //-   </svg>
    //- </div>
    //-   <svg xmlns="http://www.w3.org/2000/svg">
    //-     <filter id="filter">
    //-         <feTurbulence type="fractalNoise" baseFrequency="0.1" numOctaves="5"/>
    //-     </filter>
    //-     <rect width="100px" height="100px" filter="url(#filter)"/>
    //-   </svg>


  //-   <div class="container">
  //-   <div  class="filtered"></div>
  //-   <svg>
  //-     <defs>
  //-       <filter id="filter">
  //-         <feTurbulence type="fractalNoise" result="myTurbulence" baseFrequency=".2" numOctaves="5" seed="2" />
  //-         <feComposite operator="in" in="myTurbulence" in2="SourceAlpha" result="myComposite"/>
  //-         <feColorMatrix in="myComposite" type="matrix"
  //-           values="0   0   0   1   1
  //-                   0   0   0   .3   0
  //-                   0   0   0   0   0
  //-                   0   0   0   100  0" />
  //-       </filter>
  //-     </defs>
  //-   </svg>
  //- </div>