doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="styles/styles.css" type="text/css" rel="stylesheet")
    title Weather
  body
    section.first-part
      section.weather-container
        section#js-celestial-container.celestial-container.d-none
          div.celestial
          svg(width="0" height="0")
            filter(id="sun")
              feTurbulence(type="fractalNoise" result="myTurbulence" baseFrequency=".2" numOctaves="5" seed="2")
              feComposite(operator="in" in="myTurbulence" in2="SourceAlpha" result="myComposite")
              feColorMatrix(in="myComposite" type="matrix" values="0   0   0   1   1 0   0   0   .25   0 0   0   0   0   0 0   0   0   100  0")
            filter(id="moon")
              feTurbulence(type="fractalNoise" result="myTurbulence" baseFrequency=".009" numOctaves="7" seed="2")
              feComposite(operator="in" in="myTurbulence" in2="SourceAlpha" result="myComposite")
              feColorMatrix(in="myComposite" type="matrix" values="1   0   1   0  0 1   0   1   0  0  1   0   1   0  0  -.5   .4   -.2   .9 0")
        section#js-cloud-container.cloud-container.d-none
          div.cloud.cloud-white#cloud-white
          div.cloud#one-cloud__cloud-mid.d-none
          div.cloud#one-cloud__cloud-front.d-none
          <svg width="0" height="0">
            <filter id="filter-white">
              <feTurbulence id="filter-white__turbulence" type="fractalNoise" baseFrequency="0.008" numOctaves="7" seed="4"/>
              <feDisplacementMap  in="SourceGraphic" scale="175" />
            </filter>
            <filter id="filter-mid-s3">
              <feTurbulence type="fractalNoise" baseFrequency="0.008" numOctaves="7" seed="3"/>
              <feDisplacementMap  in="SourceGraphic" scale="175" />
            </filter>
            <filter id="filter-mid-s4">
              <feTurbulence type="fractalNoise" baseFrequency="0.008" numOctaves="7" seed="4"/>
              <feDisplacementMap  in="SourceGraphic" scale="175" />
            </filter>
            <filter id="filter-front">
              <feTurbulence type="fractalNoise" baseFrequency="0.012" numOctaves="7" seed="4"/>
              <feDisplacementMap  in="SourceGraphic" scale="100" />
            </filter>
          </svg>
      section.temperature-city
        div.temperature-city__text.ff--BGL
          div.temperature-container
          div.city Angouleme
          div.weather
    section.second-part
      section#informations
        section#container-transition
          section.day-temperatures#js-day-temperatures
            section.day-temperatures__text#js-day-temperatures__text
            section#js-day-temperatures__temperatures
            section.day-temperatures__hours#js-hours
          section.week.ff--JSR#js-week
      section.switch-container
        section.switch-subcontainer
          section.switch-subcontainer#js-switch-subcontainer
            div.switch.switch-lpart
            div.switch.switch-rpart
        section.switch__text.ff--BGL
          span.js-day-week__text__words.text-white DAY
          span  /
          span.js-day-week__text__words  WEEK
    script(type="text/javascript" src="scripts/index.js")